@import "tailwindcss";

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    sans-serif;
  background-color: #fff;
  color: #000;
}

section {
  padding: 0 clamp(2rem, 10vw, 16rem);
}

@theme {
  --color-primary: #000;
  --color-accent: black;
  --color-background: #fff;
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@layer base {
  p {
    @apply text-primary/80 font-serif font-extralight;
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight;
  }
}
