@import "tailwindcss";

@theme {
  --color-foreground: oklch(0.3564 0.0391 248.97);
  --color-background: white;
  --color-accent: oklch(0.6783 0.1559 35.18);
  --color-secondary: oklch(0.8233 0.0986 64.75);
  --color-tertiary: oklch(0.734 0.0755 226.98);
  --color-quaternary: oklch(0.582 0.0572 204.94);
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@utility display {
  @apply font-sans font-extrabold tracking-tight;
}

@utility heading {
  @apply text-foreground font-sans text-3xl font-semibold tracking-tight;
}

@utility accent {
  @apply font-serif font-medium italic;
}

@utility eyebrow {
  @apply font-sans font-semibold tracking-widest uppercase;
}

@utility stat {
  @apply font-sans font-bold tracking-tight;
}

@layer base {
  section {
    padding: 0 clamp(2rem, 10vw, 16rem);
  }

  h1,
  h2,
  h3 {
    @apply tracking-tight;
  }

  h1 {
    @apply text-foreground;
  }

  p {
    @apply text-foreground/80 font-serif font-extralight;
  }
}

@theme {
  --animate-blink: blink 1s step-end infinite;
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
